@font-face
  src url('@fonts/Montserrat-Regular.ttf')
  font-family Montserrat

@font-face
  src url('@fonts/francesco-regular-TRIAL.otf')
  font-family Francesco

@import './common.styl'
@import './loading.styl'
@import './inventory.styl'
@import './options.styl'